<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="details content">
        <h2><%= blog.title %></h2>
        <div class="content">
            <p><%= blog.body %></p>
        </div>
        <a class="delete" data-doc="<%= blog._id %>">
            <img src="/trash.svg" alt="delete icon">
        </a>
    </div>

    <%- include('./partials/footer.ejs') %>

    <script>
        const trashcan = document.querySelector('a.delete');

        //AJAX request (not a webform request)

        trashcan.addEventListener('click', (e) => {
            const endpoint = `/blogs/${trashcan.dataset.doc}`

            fetch(endpoint, {
                method: 'DELETE'
            })
            .then( (response_json) => {response_json.json()})
            .then((data) => { window.location.href = data.redirect })
            .catch( (err) => console.log(err) );

            //redirect did not work on line 30: window.location,href = ...
        });
    </script>
    
</body>
</html>